mat-toolbar {
    justify-content: space-between;
  }
  
  .content {
    padding: 16px;
  }
  
  .content > mat-card {
    margin-bottom: 16px;
    max-width: 200px;
  }
  
  .column-label {
    margin-right: 8px;
    font-size: 1rem;
  }